
<!--기본 베이스html 형식 상속-->
{% extends 'base.html' %}
{% block content %}

<!--부트스트램 스타일시트 적용하기-->
<!---
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
-->
<!-- {% if question_list %}
    <ul>
    {% for question in question_list %}
        !--1 <li><a href="/rqboard/{{ question.id }}/">{{ question.subject }}</a></li>-->
        <!--2 <li><a href="{ url 'detail' question.id %}">{{ question.subject }}</a></li>->
        <li><a href="{% url 'rqboard:detail' question.id %}">{{ question.subject }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>질문이 없습니다.</p>
{% endif %} -->

<!--부트스트랩 스타일 적용-->
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'rqboard:detail' question.id %}">{{ question.subject }}</a>
            </td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!--질문등록-->
    <a href = "{% url 'rqboard:question_create' %}" class="btn btn-primary">질문 등록 하기</a>
</div>

{% endblock %}